*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* --------------------------- Tipografia --------------------------- */


.familjen-grotesk-400 {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
 
  .amiljen-grotesk-500 {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;
  }
  

  .azeret-mono-300{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light;
  }

  .azeret-mono-400{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  /* --------------------------- variables --------------------------- */

  :root {

    --surface--00: #0B0A0A;
    --surface--01: #151515;
    --surface--02: #212121;
    --surface--03: #212121;
    --accent--01: #CC01DB;
    --font--principal: #FCF1CC;
    --font--secondary: #898989;
    --item--01: #FCF1CC;
    --stroke--01: #2D2D2D;
    /*--transitionTheme: background-color 0.5s ease, color 0.5s ease;*/


    /* ----------- font size ----------- */

    --font-primary: "Familjen Grotesk", sans-serif;
    --font-secondary: "Azeret Mono", monospace;
    --icon-font: 'Material Symbols Outlined';


    --base-fs: 1rem;
    --line-height: 0.55;

    --text-xxs: 0.6rem;
    --text-xs: 0.694rem;
    --text-s: 0.833rem;
    --text-m: 1rem;
    --text-l: 1.2rem;
    --text-xl: 1.44rem;
    --text-2xl: 1.728rem;
    --text-3xl: 2.074rem;
    --text-4xl: 2.488rem;
    --text-5xl: 2.986rem;

    --line-height-xxs: 1.15;
    --line-height-xs: 1.244rem;
    --line-height-s: 1.383rem;
    --line-height-m: 1.55rem;
    --line-height-l: 1.75rem;
    --line-height-xl: 1.99rem;
    --line-height-2xl: 2.278rem;
    --line-height-3xl: 2.624rem;
    --line-height-4xl: 3.038rem;


    
    /* ----------- font weight ----------- */

    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
  
    

   

    /* ----------- spacing ----------- */
    
    --space-none: 0px;
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 16px; 
    --space-m: 24px; 
    --space-l: 32px;
    --space-xl: 40px;
    --space-2xl: 48px;
    --space-3xl: 56px;
    --space-4xl: 64px;
    --space-big01: 72px;
    --space-big02: 80px;
    --space-big03: 88px;
    --space-big04: 96px;
    --space-big05: 104px;
    --space-big06: 112px;
    --space-big07: 120px;
    --space-big08: 128px;
    --space-big09: 136px;
    --space-mega: 180px;

} 

 /* ----------- temas ----------- */

 .darkTheme{
    --surface--00: #0B0A0A;
    --surface--01: #151515;
    --surface--02: #212121;
    --surface--03: #212121;
    --accent--01: #CC01DB;
    --font--principal: #FCF1CC;
    --font--secondary: #898989;
    --item--01: #FCF1CC;
    --stroke--01: #2D2D2D;
    /*--transitionTheme: background-color 0.5s ease, color 0.5s ease;*/
}


.lightTheme{
    --surface--00: #F4F4F4;
    --surface--01: #E6E6E6;
    --surface--02: #E6E6E6;
    --surface--03: #E6E6E6;
    --accent--01: #CC01DB;
    --font--principal: #3e3e3e;
    --font--secondary: #636363;
    --item--01: #555555;
    --item--02: #F4F4F4;
    --stroke--01: #E6E6E6;
    /*--transitionTheme: background-color 0.5s ease, color 0.5s ease;*/

}



  
/* --------------------------- elementos --------------------------- */


body{
    background-color: var(--surface--01);
    
    
}

/* ------------- textos ------------- */

h1{
    font-family: var(--font-primary);
    font-size: clamp(var(--text-l), 2vw, var(--text-4xl));
    color: var(--font--principal);
    font-weight: var(--regular);
    text-transform: uppercase;
    
}

h2{
    font-family: var(--font-primary);
    font-size: clamp(var(--text-xs), 1vw, var(--text-s));
    color: var(--font--principal);
    font-weight: var(--medium);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    
    
}

h3{
    font-family: var(--font-primary);
    font-size: var(--text-2xl);
    line-height: var(--line-height-2xl);
    color: var(--font--principal);
    font-weight: var(--regular);
    text-transform: uppercase;
    
}

h4{
    font-family: var(--font-primary);
    font-size: var(--text-m);
    line-height: var(--line-height-m);
    color: var(--font--principal);
    font-weight: var(--medium);
    text-transform: uppercase;
    margin-top: 16px;
    
}

h5{
    font-family: var(--font-secondary);
    font-size: var(--text-s);
    font-weight: var(--medium);
    line-height: var(--line-height-s);
    color: var(--font--principal);
    text-transform: uppercase;
    
}

h6{
    font-family: var(--font-secondary);
    font-size: var(--text-s);
    font-weight: var(--medium);
    line-height: var(--line-height-s);
    color: var(--font--principal);
    text-transform: uppercase;
    
}

p{
    font-family: var(--font-secondary);
    font-size: var(--text-s);
    line-height: var(--line-height-s);
    color: var(--font--secondary);
    font-weight: var(--light);
    
}

svg path rect{
    fill: var(--item--01);
    
}


/* ------------- header ------------- */


header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: var(--surface--01);
    padding: var(--space-s) var(--space-big02) var(--space-xs);
    z-index: 1000;
    
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    
}

.marqueeHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    overflow: hidden;
}

.marqueeWrapper2{
    display: inline-block;
    animation: marquee2 20s linear infinite;
    white-space: nowrap;
    position: relative;
}

@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


.linkComponent2{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin-right: var(--space-big08);
}

.logoWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#logo375{
    display: none;
    
}

#linkedin375{
    display: none;
    
}

.linksButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    
}

.linkWrapper{
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
    
}

.linkComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    
}

a{
    font-family: var(--font-primary);
    font-size: var(--text-s);
    line-height: var(--line-height-s);
    color: var(--font--principal);
    font-weight: var(--text-regular);
    text-decoration: none;
    text-transform: uppercase;
    
}

.dot{
    background-color: var(--accent--01);
    height: 4px;
    width: 4px;
    border-radius: 100px;
    
}

.dotEmpty{
    background-color: none;
    height: 4px;
    width: 4px;
    border-radius: 100px; 
}

.aboutOn{
    color: var(--font--principal);
    
}

.aboutOff{
    color: var(--font--secondary);
    
}

.resumeOn{
    color: var(--font--principal);
    
}

.resumeOff{
    color: var(--font--secondary);
    
}

.linkedinOn{
    color: var(--font--principal);
    
}

.linkedinOff{
    color: var(--font--secondary);
    
}


.githubOn{
    color: var(--font--principal);
    
}

.githubOff{
    color: var(--font--secondary);
    
}


.buttonWrapper{
    width: 20px;
    height: 32px;
    padding-bottom: var(--space-xs);
    
}

button{
    background-color: var(--surface--01);
    color: var(--item--01);
    border-style: none;
    padding: var(--space-none);
    width: 24px;
    height: 24px;
    border-radius: 4px;
    
}

button:hover{
    background-color: var(--item--01);
    color: var(--surface--01);
    border-style: none;
    padding: var(--space-none);
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  
}



@media (max-width: 920px) and (min-width: 768px){

    header{
        padding: var(--space-s) var(--space-s) var(--space-xs);
    }

    nav{
        justify-content: space-between;
    }

    .logoWrapper{
        width: fit-content;
    }

    .linksButton{
        width: fit-content;
        gap: var(--space-xl);
    }

   
}

@media (max-width: 767px) and (min-width: 431px){

    header{
        padding: var(--space-s) var(--space-s) var(--space-xs);
    }

    nav{
        justify-content: space-between;
    }

    .logoWrapper{
        width: fit-content;
    }

    .linksButton{
        width: fit-content;
        gap: var(--space-xl);
    }

    .linkWrapper{
        gap: var(--space-m);
    }

    #gitHubButton{
        display: none;
    }

    #logo375{
        display: flex;
    }

    #logo1440{
        display: none;
    }

    #linkedin1440{
        display: none;
    }

    
}


@media (max-width: 430px) and (min-width: 360px){


    header{
        padding: var(--space-s) var(--space-s) var(--space-xs);
    }

    nav{
        justify-content: space-between;
    }

    .logoWrapper{
        width: fit-content;
    }

    .linksButton{
        width: fit-content;
        gap: var(--space-xl);
    }

    .linkWrapper{
        gap: var(--space-m);
    }

    #gitHubButton{
        display: none;
    }

    #logo375{
        display: flex;
    }

    #logo1440{
        display: none;
    }

    #linkedin1440{
        display: none;
    }

    #linkedin375{
        display: flex;
    }
}



/* --------------------------------------------------- hero ---------------------------------------------------  */

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--surface--01);
    padding: var(--space-mega) var(--space-big02) var(--space-big02);
    
}

.heroWrapper{
    display: flex;
    flex-direction: row;
}

.leftWrapper{
    display: flex ;
    flex-direction: column;
    width: 100%;
    
}

.rightWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.marqueeContainer{
    width: 20vw;
    overflow: hidden;
    padding-top: var(--space-s);
    
}

.marqueeWrapper{
    display: inline-block;
    animation: marquee1 20s linear infinite;
    white-space: nowrap;
    position: relative;
}

.itemMarquee{
    display: inline;
    list-style: none;
    font-family: var(--font-secondary);
    font-size: var(--text-xs);
    color: var(--accent--01);
    
}




@keyframes marquee1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.left-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.left-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.smallP{
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    margin-top: var(--space-xs);
    width: 40%;
    
}

.goldText{
    font-size: var(--text-xs);
    font-weight: var(--medium);
    color: var(--font--principal);
    margin-top: var(--space-s);
    text-transform: uppercase;
    
}


@media (max-width: 3000px) and (min-width: 1441px){

   .hero{
    display: flex;
    flex-direction: row;
    width: 100%;
   }

   .heroWrapper{
    width: 1440px;
   }
   
}


@media (max-width: 920px) and (min-width: 768px){

   
   
}

@media (max-width: 767px) and (min-width: 431px){



    
}


@media (max-width: 430px) and (min-width: 360px){

    .hero{
        display: flex;
        flex-direction: column-reverse;
        padding: var(--space-big08) var(--space-s);
        
    }

    h1{
        font-size: 32px;
    }
    
    .leftWrapper{
        display: flex ;
        flex-direction: column;
        width: 100%;
        
    }
    
    .rightWrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    
    .marqueeContainer{
        width: 20vw;
        overflow: hidden;
        padding-top: var(--space-s);
        
    }
    
    .marqueeWrapper{
        display: inline-block;
        animation: marquee1 20s linear infinite;
        white-space: nowrap;
        position: relative;
        
    
    }
    
    .itemMarquee{
        display: inline;
        list-style: none;
        font-family: var(--font-secondary);
        font-size: var(--text-xs);
        color: var(--accent--01);
        
    }
    
    
    
    
    @keyframes marquee1 {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    
    .left-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    
    .left-right{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    
    .smallP{
        font-size: var(--text-xs);
        line-height: var(--line-height-xs);
        margin-top: var(--space-xs);
        width: 40%;
        
    }
    
    .goldText{
        font-size: var(--text-xs);
        font-weight: var(--medium);
        color: var(--font--principal);
        margin-top: var(--space-s);
        text-transform: uppercase;
        
    }

}




/* ------------- video section ------------- */

.videoPlayer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------- description ------------- */

.descriptionWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--surface--00);
}

.description{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    background-color: var(--surface--00);
    padding: var(--space-big02);
}

.paragraph{

margin-top: var(--space-m);
width: 60%;
}



/* ------------- card ------------- */

.cardContainerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--surface--00);
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-big02);
    background-color: var(--surface--00);
    gap: var(--space-big02);
    max-width: 1440px;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface--02);
    padding: var(--space-big02) var(--space-l);
    border-radius: 4px;
    width: 360px;
    text-align: center;
    
}

.cardIcons{
    width: 96px;
    height: 96px;
    fill: var(--item--01);
    
}



.infoCard{
    margin-top: var(--space-s);
    
}

/* ------------- skills ------------- */

.skillContainerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--surface--00);
}

.skillContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--surface--00);
    width: 100%;
    max-width: 1440px;
    padding: var(--space-none) var(--space-big02) var(--space-xl);
    
}

.skillWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--stroke--01); 
    padding: var(--space-xl) var(--space-none);
    
}

.skillWrapperEnd{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--space-xl) var(--space-none);
    
}

.skillLeft{
    font-display: flex;
    flex-direction: row;
    width: 100%;
    
}

.skillRight{
    font-display: flex;
    flex-direction: row;
    width: 100%;
    
}

.skill{
    display: flex;
    flex-direction: row;
    
}

.styleNumber{
    font-family: var(--font-secondary);
    color: var(--font--principal);
    font-size: var(--text-l);
    line-height: var(--line-height-l);
    text-transform: uppercase;
    font-feature-settings: "zero" 1;
    margin-right: var(--space-m);
    
}

.styleText{
    font-family: var(--font-primary);
    color: var(--font--principal);
    font-size: var(--text-l);
    line-height: var(--line-height-l);
    text-transform: uppercase;
    
}

.tagContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: var(--space-s) var(--space-none);
    gap: var(--space-s);
    
}

.tag{
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    font-weight: var(--medium);
    background-color: var(--surface--03);
    color: var(--font--principal);
    padding: var(--space-xxs) var(--space-s);
    border-radius: 400px;
    text-transform: uppercase;
    
}



/* ------------- marquee ------------- */

.cutter{
    width: 1280px;
    overflow: hidden;
}

.containerMarquee{
    background-color: var(--surface--00);
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    padding: var(--space-xl) var(--space-big02);
    
}

.wrapperMarquee{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    max-width: 1440px;
}



.wrapperList{
    display: inline-block;
    animation: marquee2 15s linear infinite;
    white-space: nowrap;
    

}

.itemMarquee2{
    display: inline;
    list-style: none;
    font-family: var(--font-secondary);
    font-size: var(--text-xs);
    color: var(--accent--01);
    padding-right: var(--space-xs);
    
}

@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%);
    }
}


/* ------------- tech stack ------------- */

.techStack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--surface--00);
    width: 100vw;
    padding: var(--space-xl) var(--space-big02);
    

}

.techWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    gap:  var(--space-xl)  var(--space-xl);
    
}

.techCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-s);
    width: 336px;
    background-color: var(--surface--01);
    border-radius: 8px;
    padding: var(--space-xs);
}

@media (max-width: 3000px) and (min-width: 1441px){

    .techCard{
        width: auto;
        gap: auto;
    }
}

.techInfo{
    display: flex;
    flex-direction: column;
    padding-top: var(--space-xs);
    gap: var(--space-xxs);
    height: 100%;
    
}

.techCardBody{
    font-family: var(--font-secondary);
    font-size: var(--text-xxs);
    line-height: var(--line-height-xxs);
    font-weight: var(--regular);
    color: var(--font--principal);
    
}




/* ------------- cases ------------- */

.caseContainerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface--00);
    width: 100%;
    padding: var(--space-big02);
    gap: var(--space-big02);

}

.caseContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: var(--space-big02);
    background-color: var(--surface--00);
    width: 100%;
    max-width: 1440px;
    gap: 80px;
}


.caseShort{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--space-s);
    width:fit-content;
}

.caseTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
    
}

.caseImage{
    display: flex;
    width: 100%;
    height: 100%;
}

.caseImageLong{
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 2/1;
}


.imageSmall{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.caseNumber{
    font-family: var(--font-secondary);
    color: var(--font--principal);
    font-size: var(--text-s);
    line-height: var(--line-height-s);
    text-transform: uppercase;
    font-feature-settings: "zero" 1;
    
}

.caseContainerLong{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    column-gap: var(--space-big02);
}

.caseLong{
    display: flex;
    flex-direction: column;
    flex: 2.2;
    gap: var(--space-s);
    aspect-ratio: 2/1;
}

.imageLarge{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    aspect-ratio: 2/1;
}


/* ------------- footer ------------- */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--surface--00);
    
}

.footerElements{
    width: 100%;
    max-width: 1440px;
}

.footerIntro{
    font-family: var(--font-primary);
    font-size: var(--text-3xl);
    line-height: var(--line-height-3xl);
    color: var(--font--secondary);
    font-weight: var(--regular);
    text-transform: uppercase;
    width: 80%;
    
}

.container01{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--space-big08) var(--space-none) var(--space-big02);
    
}

.leftFooter{
    width: 100%;
    
}

.rightFooter{
    width: 100%;
    
}

.container02{
    display: flex;
    flex-direction: row;
    
}

.footerIcons{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--space-big08) var(--space-none) var(--space-m);
    
}

.footerText{
    width: 408px;
    
}

.iconLeft{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

.iconRight{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

.iconBody{
    font-family: var(--font-secondary);
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    
}

.iconWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.iconSize{
    font-family: var(--font-secondary);
    font-size: var(--text-xl);
    font-weight: var(--regular);
    line-height: var(--line-height-xl);
    color: var(--font--secondary);
    font-feature-settings: "zero" 1;
    
}




.material-symbols-outlined.iconStyle{
    font-variation-settings:
        'FILL' 0,
        'wght' var(--bold),
        'GRAD' 0,
        'opsz' 24;
    font-family: var(--icon-font);
    color: var(--font--secondary);
    font-size: var(--text-xl);
    line-height: var(--line-height-l);
}




/* ------------- RESUME PAG ------------- */


/* ------------- Contenedor de informacion ------------- */


.infoContainer {
    background-color: var(--surface--00);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--space-xl) var(--space-big02);
    
}

.infoWrapper {
    display: flex;
    flex-direction: row; 
    width: 100%;
    gap: var(--space-xl);
    flex-wrap: wrap;
    border-bottom: 1px solid var(--stroke--01);
    padding: var(--space-big08) var(--space-none);
    
}

.categorieContent {
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
    padding: var(--space-big08) var(--space-none);
    width: 100%;
    
}

.allWrapp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--space-xl);
    
}

.experience {
    display: flex;
    flex-direction: column;
    width: 290px; 
    flex-wrap: wrap;
    
}

.blockWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: var(--space-xl);
    width: 950px;
    
}

.blockWrapperLong {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: var(--space-big02) var(--space-xl);
    width: 950px;
    
}

.infoBlock {
    display: flex;
    flex-direction: column;
    width: 290px;
    
}

.introExperience {
    padding: var(--space-s) var(--space-none);
    
}


.skillWrapperShort{
    display: flex;
    flex-direction: column;
    width: 950px;
    gap: var(--space-big02);
    
}

.skillList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-s);
    
}

.skillShort{
    width: 302px;
    
}

.skillLeftShort{
    font-display: flex;
    flex-direction: row;
    width: 302px;
    
}


.skillRightShort{
    font-display: flex;
    flex-direction: row;
    width: 620px;
    
}

/* ------------------------ Media queries ------------------------ */


