*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* --------------------------- Tipografia --------------------------- */


.familjen-grotesk-400 {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
 
  .amiljen-grotesk-500 {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;
  }
  

  .azeret-mono-300{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light;
  }

  .azeret-mono-400{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  /* --------------------------- variables --------------------------- */

  :root {

    --surface--00: #0B0A0A;
    --surface--01: #151515;
    --surface--02: #212121;
    --surface--03: #212121;
    --accent--01: #CC01DB;
    --font--principal: #FCF1CC;
    --font--secondary: #898989;
    --item--01: #FCF1CC;
    --stroke-dark--01: #2D2D2D;

    /*
    --surface--00: #F4F4F4;
    --surface--01: #E6E6E6;
    --surface--02: #E6E6E6;
    --surface--03: #E6E6E6;
    --accent--01: #CC01DB;
    --font--principal: #555555;
    --font--secondary: #898989;
    --item--01: #555555;
    --item--02: #F4F4F4;
    --stroke-dark--01: #E6E6E6; 

    */


    /* ----------- font size ----------- */

    --font-primary: "Familjen Grotesk", sans-serif;
    --font-secondary: "Azeret Mono", monospace;


    --base-fs: 1rem;
    --line-height: 0.55;

    --text-xs: 0.694rem;
    --text-s: 0.833rem;
    --text-m: 1rem;
    --text-l: 1.2rem;
    --text-xl: 1.44rem;
    --text-2xl: 1.728rem;
    --text-3xl: 2.074rem;
    --text-4xl: 2.488rem;

    --line-height-xs: 1.244rem;
    --line-height-s: 1.383rem;
    --line-height-m: 1.55rem;
    --line-height-l: 1.75rem;
    --line-height-xl: 1.99rem;
    --line-height-2xl: 2.278rem;
    --line-height-3xl: 2.624rem;
    --line-height-4xl: 3.038rem;


    
    /* ----------- font weight ----------- */

    --light: 300;
    --regular: 400;
    --medium: 500;
  


    /* ----------- spacing ----------- */
    
    --space-unit: 1em;
    --space-xxs:  calc(0.25 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    --space-xxl:  calc(5.25 * var(--space-unit));
    --space-3xl:  calc(8.5 * var(--space-unit));

} 

 /* ----------- temas ----------- */

 .darkTheme{
    --surface--00: #0B0A0A;
    --surface--01: #151515;
    --surface--02: #212121;
    --surface--03: #212121;
    --accent--01: #CC01DB;
    --font--principal: #FCF1CC;
    --font--secondary: #898989;
    --item--01: #FCF1CC;
    --stroke-dark--01: #2D2D2D;
}

/*
.lightTheme{
    --surface--00: #F4F4F4;
    --surface--01: #E6E6E6;
    --surface--02: #E6E6E6;
    --surface--03: #E6E6E6;
    --accent--01: #CC01DB;
    --font--principal: #555555;
    --font--secondary: #898989;
    --item--01: #555555;
    --item--02: #F4F4F4;
    --stroke-dark--01: #E6E6E6; 
}
    */


  
/* --------------------------- elementos --------------------------- */

/* ------------- textos ------------- */

h1{
    font-family: var(--font-primary);
    font-size: var(--text-4xl);
    line-height: var(--line-height-4xlxl);
    color: var(--font--principal);
    font-weight: var(--regular);
    text-transform: uppercase;
}

h2{
    font-family: var(--font-primary);
    font-size: var(--text-s);
    line-height: var(--line-height-s);
    color: var(--font--principal);
    font-weight: var(--medium);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    
}

h3{
    font-family: var(--font-primary);
    font-size: var(--text-2xl);
    line-height: var(--line-height-2xl);
    color: var(--font--principal);
    font-weight: var(--regular);
    text-transform: uppercase;
}

h4{
    font-family: var(--font-primary);
    font-size: var(--text-m);
    line-height: var(--line-height-m);
    color: var(--font--principal);
    font-weight: var(--medium);
    text-transform: uppercase;
    margin-top: 16px;
    
}

p{
    font-family: var(--font-secondary);
    font-size: var(--text-s);
    line-height: var(--line-height-s);
    color: var(--font--secondary);
    font-weight: var(--light);
}



/* ------------- header ------------- */

header{
    position: fixed;
    width: 100%;
    background-color: var(--surface--01);
    padding: 0px 80px;
    z-index: 1000;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 16px 0px;
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.linksWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.listWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    
}



a{
    font-family: var(--font-primary);
    font-size: var(--text-s);
    line-height: var(--line-height-s);
    color: var(--font--principal);
    font-weight: var(--text-regular);
    text-decoration: none;
    text-transform: uppercase;
}

.about{
    color: var(--font--principal);
}
.resume{
    color: var(--font--secondary);
}
.linkedin{
    color: var(--font--secondary);
}
.github{
    color: var(--font--secondary);
}

.dot{
    background-color: var(--accent--01);
    height: 4px;
    width: 4px;
    border-radius: 100px;
    margin-top: 4px;
}

.buttonWrapper{
    width: 20px;
    height: 20px;
}

button{
    color: var(--item--01);
    background-color: var(--surface--01);
    border-style: none;
    padding: 0px;
    width: 20px;
    height: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}


/* ------------- hero ------------- */

.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--surface--01);
    padding: 180px 80px 80px;
}


.leftWrapper{
    display: flex ;
    flex-direction: column;
    width: 100%;
}

.rightWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itemMarquee{
    display: inline;
    list-style: none;
    font-family: var(--font-secondary);
    font-size: var(--text-xs);
    color: var(--accent--01);
}

.marqueeWrapper{
    display: inline-block;
    animation: marquee 20s linear infinite;
    white-space: nowrap;
    position: relative;

}

.marqueeContainer{
    width: 20vw;
    overflow: hidden;
    padding-top: 16px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.left-left{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.smallP{
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    margin-top: var(--space-xs);
    width: 40%;
}

.goldText{
    font-size: var(--text-xs);
    font-weight: var(--medium);
    color: var(--font--principal);
    margin-top: var(--space-md);
    text-transform: uppercase;
}

/* ------------- video section ------------- */

.videoPlayer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------- description ------------- */

.description{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--surface--00);
    padding: 80px;
}

.infoWrapper{
    display: flex;
    flex-direction: column;
}

.paragraph{

margin-top: 24px;
width: 60%;

}

/* ------------- card ------------- */

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
    background-color: var(--surface--00);
    gap: 80px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface--02);
    padding: 80px 32px;
    border-radius: 4px;
    width: 360px;
    text-align: center;
}

.cardIcon{
    width: 96px;
    height: 96px;
}

.infoCard{
    margin-top: 16px;
}

/* ------------- skills ------------- */

.skillContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--surface--00);
    width: 100%;
    padding: 0px 80px 40px;
}

.skillWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--stroke-dark--01); 
    padding: 40px 0px;
}

.skillLeft{
    font-display: flex;
    flex-direction: row;
    width: 100%;
}

.skillRight{
    font-display: flex;
    flex-direction: row;
    width: 100%;
}

.skill{
    display: flex;
    flex-direction: row;
}

.styleNumber{
    font-family: var(--font-secondary);
    color: var(--font--principal);
    font-size: var(--text-l);
    line-height: var(--line-height-l);
    text-transform: uppercase;
    font-feature-settings: "zero" 1;
    margin-right: 24px;
}

.styleText{
    font-family: var(--font-primary);
    color: var(--font--principal);
    font-size: var(--text-l);
    line-height: var(--line-height-l);
    text-transform: uppercase;
}

.tagContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tag{
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    font-weight: var(--medium);
    background-color: var(--surface--03);
    color: var(--font--principal);
    padding: 4px 8px;
    border-radius: 400px;
    text-transform: uppercase;
    margin: var(--space-md) var(--space-sm) var(--space-sm) 0px ;
}